<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
    
   <bean class="com.vs.beans.Address" id="addressId">
   <constructor-arg value="12"></constructor-arg>
      <constructor-arg value="Banglore"></constructor-arg>
   
      <constructor-arg value="00000"></constructor-arg>
   
   </bean>
    
   <bean class="com.vs.beans.Student" id="stdId">
   
   <constructor-arg value="101"/>
   <constructor-arg value="Vaibhav" />
   <constructor-arg ref="addressId"/>
   </bean>
    
    </beans>