<?xml version="1.0" encoding="UTF-8"?>


<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


    <!-- bean definitions here -->


<bean class="com.vs.beans.Address" id="addId1">
<constructor-arg value="152"></constructor-arg> 
<constructor-arg value="Pune"></constructor-arg>
<constructor-arg value="78523"></constructor-arg>
</bean>

<bean class="com.vs.beans.Address" id="addId2" autowire-candidate="false">
<constructor-arg value="111"></constructor-arg> 
<constructor-arg value="Pune"></constructor-arg>
<constructor-arg value="78523"></constructor-arg>
</bean>

<bean class="com.vs.beans.Student" id="stdId" autowire="constructor">
<constructor-arg value="201" index="0"></constructor-arg>
<constructor-arg value="Rohit" index="1"></constructor-arg>
</bean>

</beans>