<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
    
    <bean class="com.vs.beans.Student" id="stdId1">
    <property name="name" value="Jon"></property>
    <property name="rollno" value="101"></property>
    <property name="email" value="jon@gmail.com"></property>
    </bean>
    
    <bean class="com.vs.beans.Student" id="stdId2">
    <property name="name" value="Allen"></property>
    <property name="rollno" value="102"></property>
    <property name="email" value="allen@gmail.com"></property>
    </bean>

</beans>