<?xml version="1.0" encoding="UTF-8"?>


<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


    <!-- bean definitions here -->

<bean class="com.vs.beans.Address" id="address">
<property name="houseno" value="401"></property>
<property name="city" value="Banglore"></property>
<property name="pincode" value="125698"></property>
</bean>

<bean class="com.vs.beans.Student" id="stdId" autowire="byName">
<property name="rollno" value="201"></property>
<property name="name" value="Rohit"></property>
</bean>

</beans>